/* チェックボックスは非表示に */
.drawer-hidden {
	display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
	display: flex;
	height: 50px;
	width: 50px;
	justify-content: center;
	align-items: center;
	z-index: 100;/* 重なり順を一番上に */
	cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
content: '';
display: block;
height: 2px;
width: 25px;
border-radius: 3px;
background: #2498B3;
transition: .2s;
position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になるように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
bottom: 0;
transform: rotate(-45deg);
background-color: white;
}

#drawer-check:checked ~ .drawer-open span::after {
top: 0;
transform: rotate(45deg);
background-color: white;
}

/*アイコンがクリックされたら背景色が変わる*/
#drawer-check:checked ~ .drawer-open {
background-color: #2498B3;
}