.drawer {
	.menu-content {
		width: 100%;
		height: 30%;
		position: fixed;
		top: 50px;
		left: 0;
		z-index: 80;
		display: none;

		.menu-hover {
			vertical-align: middle;

			>li {
				background-color: white;

				.menu {
					height: 50px;
					position: relative;

					a {
						display: block;
						position: relative;
						left: 10px;
						top: 15px;
					}
				}

				ul {
					display:none;

					li {
						position:relative;
						list-style: none;
						height: 50px;
						font-weight: normal;

						a{
							position: relative;
							left: 30px;
							top: 15px;
						}
					}
				}
			} 
		}
	}
}